/* RESET STYLES */

html, body, div, h1, h2, h3, h4, h5, h6, p, img,
dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot,
thead, tr, th, td, form, fieldset, embed, object, applet {
	margin: 0;
	padding: 0;
	border: 0;
}

/* BASICS */

html, body {
	overflow: auto;
	background-color: #fff;
}

body {
	font-family: "Segoe UI", arial, sans-serif;
	font-size: 13px;
	color: #333;
	background-image: url(images/body-gradient.png);
	background-repeat: repeat-x;
	padding: 6pt;
}

a, a code {
	color: #006699;
}

a:active, a:active code {
	color: #f00;
}

a:visited, a:visited code {
	color: #006699;
}

input, select, textarea, option, label {
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

option {
	padding: 0 4px;
}

p, form {
	padding: 0;
	margin: 0 0 1em;
}

code, pre {
	color: #007000;
	font-family: Consolas, monospace;
	line-height: 1em;
}

var {
	color: #007000;
	font-style: italic;
}

pre {
	border: 1px solid #ccc;
	background-color: #fafafa;
	padding: 10px;
	margin: 0 0 1em 1em;
	overflow: auto;
	line-height: inherit; /* fixes vertical scrolling in webkit */
}

h1, h2, h3, h4, h5 {
	margin: 1em 0;
	padding: 0;
}

p, ul, ol, dl, dd, dt, li {
	line-height: 1.3em;
}

ul, ol {
	margin: 0 0 .8em;
	padding: 0 0 0 2em;
}

li {
	padding: 0 0 .5em;
}

dl {
	margin: 0 0 1em 0;
	padding: 0;
}

dt {
	margin: 0;
	padding: 0;
}

dd {
	margin: 0 0 1em;
	padding: 0 0 0 2em;
}

li p {
	margin: .5em 0 0;
}

dd p {
	margin: 1em 0 0;
}

li pre, li table, li img {
	margin: .5em 0 0 1em;
}

dd pre {
	margin: 1em 0 0 1em;
}

li ul, li ol, dd ul, dd ol {
	margin: 0;
	padding: 0 0 0 2em;
}

li li, dd li {
	margin: 0;
	padding: .5em 0 0;
}

dl dl, ol dl, ul dl {
	margin: 0 0 1em;
	padding: 0;
}

table {
	font-size: 1em;
	margin: 0 0 1em;
	padding: 0;
	border-collapse: collapse;
	empty-cells: hide;
}

td, th {
	padding: 6px 12px;
	text-align: left;
	vertical-align: top;
	background-color: inherit;
}

th {
	background-color: #dee8f1;
}

td > p:last-child {
	margin: 0;
}

hr.blue {
	background-color: #DDF0F2;
	border: none;
	height: 5px;
	margin: 20px 0 10px;
}

blockquote {
	margin: 0 0 1em 1em;
	padding: 0 4em 0 1em;
	border-left: 2px solid #eee;
}
