#breadcrumbs {
	background-image: url(../images/breadcrumbs-background.jpg);
	line-height: 16px;
}

#banner {
	background: url(../images/banner-background.jpg);
}

h3 {
	background-color: transparent;
	background-image: none;
	padding-left: 0;
	padding-top: 0;
	margin-top: 6pt;
	line-height: normal;
	margin-bottom: 4pt;
	color: #224455;
	border-bottom: 1px solid #eeeeee;
}

h4 {
	margin-top: 6pt;
	margin-bottom: 1pt;
	padding: 0;
}

.section pre, tt {
	background-color: #f9f9f9;
	background-color: rgba(220, 255, 240, 0.25);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	color: #555555;
}

a tt {
	color: inherit;
	text-decoration: underline;
}

.section pre {
	border: #eeeeee;
	border: 1px solid rgba(180, 255, 200, 0.25);
	padding: 3pt;
}

.section li {
	margin-top: 5pt;
}

table.bodyTable li {
	font-size: 11px;
}

table.bodyTable tr.a, table.bodyTable tr.a:hover {
	background-color: #fdfdfd;
}

table.bodyTable tr.b, table.bodyTable tr.b:hover {
	background-color: #f9f9f9;
}

table.bodyTable, table.bodyTable tr, table.bodyTable td, table.bodyTable th {
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	padding: 3pt;
}

table.bodyTable th {
	color: #777;
	background-color: #e5e5e5;
}

#leftColumn {
	overflow: visible; /* remove scroll bar with IE9 (vertical scrolling is not needed) */

	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: none;
	color: #fff;
}

#navcolumn li {
	margin-bottom: 2pt;
}