/*
 * Copyright 2012 - Doxia :: Include Macro - Juergen Kellerer
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

.jaxrs-reference .rounded-box {
	border: 1px solid #cccccc;
	border-radius: 6pt;
	padding: 6pt;
	margin-top: 6pt;
	margin-bottom: 12pt;

	background-image: -ms-linear-gradient(top, #F5F5FF 0%, #FFFFFF 20px);
	background-image: -moz-linear-gradient(top, #F5F5FF 0%, #FFFFFF 20px);
	background-image: -o-linear-gradient(top, #F5F5FF 0%, #FFFFFF 20px);
	background-image: -webkit-linear-gradient(top, #F5F5FF 0%, #FFFFFF 20px);
	background-image: linear-gradient(to bottom, #F5F5FF 0%, #FFFFFF 20px);
}

.jaxrs-reference .optional {
	color: gray;
	font-style: italic;
}

.jaxrs-reference .has-title {
	cursor: default;
}

.jaxrs-reference .has-title:hover {
	background-color: #FFF5CC;
}

.jaxrs-reference .toggle-button {
	border: 1px solid gray;
	background: transparent;
	padding: 0;
	width: 16px;
	cursor: pointer;
}

.jaxrs-reference .toggle-button:hover {
	background-color: #FFF5CC;
}
