/*
 * Copyright 2012 - Doxia :: Include Macro - Juergen Kellerer
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

.jaxrs-reference-document div.syntaxhighlighter {
	overflow-x: auto;
	padding: 5px;
}

.jaxrs-reference-document .optional {
	color: gray;
	font-style: italic;
}

.jaxrs-reference .has-title {
	cursor: default;
}

.jaxrs-reference .has-title:hover {
	background-color: #FFF5CC;
}

