/*
 * Copyright 2011 - Doxia :: Include Macro - Juergen Kellerer
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software distributed under the License
 *    is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and limitations under the License.
 */

div.tabbed-panel, .tabbed-panel div, .tabbed-panel img, .tabbed-panel td, .tabbed-panel tr, .tabbed-panel table {
	border: 0;
	margin: 0;
	padding: 0;
}

div.tabbed-panel {
	margin-top: 8pt;
	margin-bottom: 4pt;
}

div.tabbed-panel-top-border {
	background-image: url("../images/tabbed-panel-top-border.png");
	background-repeat: repeat-x;
	height: 10px;
}

div.tabbed-panel-table, .tabbed-panel-table table {
	background-image: url("../images/tabbed-panel-background.png");
	background-repeat: repeat-x;
	height: 28px;
}

.tabbed-panel-table table {
	width: auto;
}

.tabbed-panel-table td {
	font-size: 11px;
	line-height: 25px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

.tabbed-panel-table td.active {
	background-image: url("../images/tabbed-panel-tab-background.png");
	background-repeat: repeat-x;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.tabbed-panel-table td.inactive {
	padding-left: 17px;
	padding-right: 17px;
}

.tabbed-panel-table td.corner {
	width: 15px;
	height: 28px;
}

div.section.active {
	display: block;
}

div.section.inactive, h1.inactive, h2.inactive, h3.inactive, h4.inactive, h5.inactive, h6.inactive {
	display: none;
}

/* hide the tabbed panel when printing the page */
@media print {
	div.tabbed-panel {
		display: none;
	}
	div.section.inactive, h1.inactive, h2.inactive, h3.inactive, h4.inactive, h5.inactive, h6.inactive {
		display: block;
	}
}

/* Plain skin (overrides the default) */

.plain div.tabbed-panel-top-border {
	background: transparent;
	height: 10px;
}

.plain div.tabbed-panel-table, .plain .tabbed-panel-table table {
	background-image: url("../images/tabbed-panel-tab-plain-background.png");
	background-repeat: repeat-x;
	height: 28px;
}

.plain .tabbed-panel-table td {
	border: 1px transparent;
	border-bottom: 0;
}

.plain .tabbed-panel-table td.active {
	background-image: none;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 0;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
}

.plain .tabbed-panel-table td.corner {
	width: 0;
	height: 28px;
}

