
@import url("doc-files/core.css");

/* JavaDoc Styles */

td.NavBarCell1 {
	width: 100%;
	background-color: #dddddd;
}

.TableRowColor td, .TableHeadingColor th {
	border: 1px solid #aaa;
}

hr {
	background-color: #DDF0F2;
	border: none;
	height: 2px;
	margin: 10px 0 10px;
}

/* Pretty printing styles. Used with prettify.js. */
.str {
	color: #080;
}

.kwd {
	color: #008;
	font-weight: bold;
}

.com {
	color: #8a8;
}

.typ {
	color: #606;
}

.lit {
	color: #066;
}

.pun {
	color: #660;
}

.pln {
	color: #000;
}

.atn {
	color: #828;
}

.atv {
	color: #080;
}

.dec {
	color: #606;
}

@media print {

	body {
		overflow: visible;
	}

	pre {
		/* these allow lines to break (if there's a white space) */
		overflow: visible;
		text-wrap: unrestricted;
		white-space: -moz-pre-wrap; /* Moz */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: pre-wrap; /* CSS3  */
		word-wrap: break-word; /* IE 5.5+ */
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	table, img {
		page-break-inside: avoid;
	}
}
