<?xml version="1.0"?>
<document>
	<body>
		#foreach($class in $select.superClasses)
			#set($__d = $constants.addAll($class.constants))
		#end
		#set($class = "$source-java")

		$comment

		<h4>Parameters:</h4>

		<table border="1">
			<tr>
				<th>Parameter Name</th>
				<th>Description</th>
			</tr>

#macro(printParameterRow $row)
			<tr>
				<td style="white-space: nowrap;"><code>$esc.xml($row.get("value"))</code></td>
				<td>$row.get("comment")</td>
			</tr>
#end

#if(!$constants.selectNonMatching("..OUT_*").empty)
			<tr>
				<th colspan="2">Input Parameters <i>(set with the macro call)</i></th>
			</tr>
			#foreach($row in $constants.selectNonMatching("..OUT_*")) #printParameterRow($row) #end
#end

#if(!$constants.selectMatching("..OUT_*").empty)
			<tr>
				<th colspan="2">Output Parameters <i>(set by the extension)</i></th>
			</tr>
			#foreach($row in $constants.selectMatching("..OUT_*")) #printParameterRow($row) #end
			<tr>
				<td colspan="2"><b>Note:</b> Output parameters are set when this extension is used and can be accessed from
				velocity templates using <b><code>$nameOfOutputParameter</code></b></td>
			</tr>
#end
			<tr>
				<th colspan="2">
					Implementation "$class":
					<a href="apidocs/${class.replace('.', '/')}.html"><b>ApiDoc</b></a> |
					<a href="xref/${class.replace('.', '/')}.html"><b>Source</b></a>
				</th>
			</tr>
		</table>
	</body>
</document>
